{% extends 'base.html' %}

{% block content %}
{% if table %}
<div class="table-info">
    <h4>Table Number {{ table.number }}</h4>
    <p>Capacity: {{ table.capacity }} people</p>
</div>
{% endif %}

<div class="row">
    {% for category in categories %}
    {% if category.is_active %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if category.image %}
            <img src="{{ category.image.url }}" class="card-img-top" alt="{{ category.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description|truncatewords:20 }}</p>
                <a href="{% url 'menu:category_detail' category.slug %}{% if table %}?table={{ table.number }}{% endif %}" 
                   class="btn btn-primary">View Products</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <div class="col-12">
        <div class="alert alert-info">
            No categories are currently available.
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 